{"sx932x_1_platform.config":{"owner":"sns_sx932x","bus_type":{"type":"int","ver":"0","data":"0"},"bus_instance":{"type":"int","ver":"0","data":"5"},"slave_config":{"type":"int","ver":"1","data":"40"},"min_bus_speed_khz":{"type":"int","ver":"0","data":"400"},"max_bus_speed_khz":{"type":"int","ver":"0","data":"400"},"reg_addr_type":{"type":"int","ver":"0","data":"0"},"dri_irq_num":{"type":"int","ver":"0","data":"91"},"irq_pull_type":{"type":"int","ver":"0","data":"3"},"irq_is_chip_pin":{"type":"int","ver":"0","data":"1"},"irq_drive_strength":{"type":"int","ver":"0","data":"0"},"irq_trigger_type":{"type":"int","ver":"0","data":"4"},"num_rail":{"type":"int","ver":"0","data":"1"},"rail_on_state":{"type":"int","ver":"0","data":"2"},"vddio_rail":{"type":"str","ver":"1","data":"/pmic/client/sensor_vddio_2"},"rigid_body_type":{"type":"int","ver":"0","data":"0"}}}